@page
@model WebApp.Pages.EmployeeGradeHistorys.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeGradeHistory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpGradeHistory.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpGradeHistory.ApplicationUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpGradeHistory.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpGradeHistory.Grade.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpGradeHistory.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpGradeHistory.FromDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmpGradeHistory.Id">Edit</a> |
    <a asp-page="./Index" asp-route-usrId="@Model.EmpGradeHistory.ApplicationUser.Id">Back to List</a>
</div>
