@page
@model WebApp.Pages.EmployeeDeptHistorys.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeDeptHistory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDeptHistory.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpDeptHistory.ApplicationUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDeptHistory.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpDeptHistory.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDeptHistory.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpDeptHistory.FromDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmpDeptHistory.Id">Edit</a> |
    <a asp-page="./Index" asp-route-usrId="@Model.EmpDeptHistory.ApplicationUser.Id">Back to List</a>
</div>
